.random-container {
  /* border: 1px solid; */
  width: 100%;
  text-align: center;
}
.one button {
  border: none;
  padding: 7px 20px;
  background-color: rgb(71, 58, 32);
  color: white;
  border-radius: 10px;
}

.container-one {
  /* border: 1px solid blue; */
  width: 99vw;
  height: 650px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.one {
  background-color: rgb(224, 207, 173);
  border-radius: 20px;
  padding: 8px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
